body {
    font-family: 'PT Serif', Arial, Helvetica, sans-serif;
    margin:0;
}

html, body {
  width:100%;
  overflow-x:hidden;
}

.header1 {
    display:flex;
    background-color: #798478;
    align-items:center;
    justify-content:space-around;
	flex-wrap: wrap;
    height:72px;
    padding:0px;
    gap:350px;
}

.intro {
    display:flex;
    background-color:#798478;
    align-items:center;
    justify-content:space-around;
    padding:75px;
    gap:300px;
}

h1, h2 {
    color:rgb(247, 236, 220); 
    margin:0;
    padding:0;
}

h1 {
    font-size:24px;
    font-style:italic;
}

h2 {
    font-size:48px;
}

.text {
    font-size:16px;
    color:#f2f3d9;
}

.textwhite {
    font-size:16px;
    color:white;
}

.cardtext {
    font-size:16px;
    color:black;
}

h3 {
    font-size:32px;
}

.links {
    display:flex;
    gap:40px;
}

.content {
    display:flex;
    background-color:#f2f3d9;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:20px;
}

.cards {
    display:flex;
    justify-content:center;
    flex-direction:row;
    gap: 50px;
}

.card {
    text-align:center;
    padding:20px;
}

.quote {
    display:flex;
    background-color: rgb(246, 246, 246);
    justify-content:center;
    align-items:center;
    font-size:25px;
    font-style:italic;
    padding:144px;
}

.signup {
    display:flex;
    align-items:center;
    justify-content:center;
    padding:124px;
    background-color:#f2f3d9;
}

.box {
    width:500px;
	height:100px;
	margin:10px;
	padding:10px;
    border-radius:25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color:#798478;
}

button {
    background-color: #1A1423;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 12px 24px;
    text-align: center;
    font-size: 13px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    text-decoration: none;
    cursor: pointer;
    
}

button:hover {
    opacity: 1;
}

.footer {
    height: 72px;
    background: #798478;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
  }

a {
    text-decoration:none;
    color:rgb(247, 236, 220);
    font-size: 18px;
    opacity: 0.6;
    transition: 0.3s;
    cursor: pointer;
  }

a:hover {
    opacity: 1;
}
  
img {
    max-width:150px;
    padding:32px;
}
