body {
    font-family:Arial, Helvetica, sans-serif;
    margin:0;
}

.header1 {
    display:flex;
    background-color: #1f2937;
    align-items:center;
    justify-content:space-around;
	flex-wrap: wrap;
    height:72px;
    padding:0px;
    gap:350px;
}

.intro {
    display:flex;
    background-color:#1f2937;
    align-items:center;
    justify-content:space-around;
    padding:75px;
    gap:600px;
}

h1, h2 {
    color:white; 
    margin:0;
    padding:0;
}

h1 {
    font-size:24px;
}

h2 {
    font-size:48px;
}

.text {
    font-size:16px;
    color:rgb(201, 201, 201);
}

h3 {
    font-size:32px;
}

.links {
    display:flex;
    gap:40px;
}

.button {
    
}

.content {
    display:flex;
    background-color:white;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    padding:20px;
}

.cards {
    display:flex;
    justify-content:center;
    flex-direction:row;
    gap: 50px;
}

.card {
    text-align:center;
    padding:20px;
}

.quote {
    display:flex;
    background-color:rgb(201, 201, 201);
    justify-content:center;
    align-items:center;
    height:144px;
    font-size:64px;
    font-style:italic;
}

.footer {
    height: 72px;
    background: #1f2937;
    color: white;
    display:flex;
    justify-content:center;
    align-items:center;
  }

a {
    text-decoration:none;
    color:#E5E7EB;
    font-size: 18px;
  }
  
img {
    max-width:150px;
    padding:32px;
}

